<?xml version="1.0"?>
<databaseList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/DatabaseList">
  <database name="NewSql">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6mTkeWIFZeo33fGyU/h4R3jAyp/T5SiZBWSE4wUlMAEnicV/xqwV/zvBDtnsl/SBFjz6dmnVymaxfvcpHb88+VoiVyGwexSMGI/fINyLaZbCrW9yaHqwAr6RQC3vlMN4z+fwRjDROFUX+s9WCdx1gVdtuZl84CckULehaXWQNZWC2GvydH5/Qz1M7kitwkeDX5ZdirXSzjkUQ7msyC04UirROiPuu10PjrJXJNJzbOm7</connectionString>
  </database>
  <database name="D2whp01">
    <connectionString>Hn3t+SQCaz3ZRQDdawhd6trDE30oSXw+89x+WuWHPCRnztiNYrKAgu8nehCBFiPU0MGNkFLjygcN0clfPAX47/g/wyyPJeOow1RSgIJfHFDO01kDebmCjpN6YnOzlD9rKrXhW79K6wbIgxCuETmGZt2Z1zPhz/x4IcHIHLGKvZpNal2NwkXMW/8rNFy326GYbpI9FdZcycVG7pknwGp6Yd+jJJxsNx0AOlL3LneHQxBM6REuFvJqeqPsWKH41DAU</connectionString>
  </database>
</databaseList>